@import url(//db.onlinewebfonts.com/c/0a086e32e41c5e5960b26626757f07f3?family=Apercu);

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: black;
  font-family: "Apercu", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin-right: 100px;
}

.nav-link {
  margin: 0 20px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out; 
}

.nav-link:hover {
  transform: scale(1.1);
  color: #0084ffda;
}

.nav-link a {
  text-decoration: none;
}


.container {
  width: 90%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#header {
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 50px 0;
}

.headline {
  color: #a7a7a7;
  font-weight: 500;
  font-size: 14px;
  margin: 50px 0;
  letter-spacing: 2px;
}

.bio,
.blog {
  width: 70%;
  padding: 10px 0;
}

p {
  line-height: 50px;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 10px 0;
}

.projects,
.blog {
  margin: 50px 0;
}

.social {
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.s-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  transition: transform 0.3s ease-in-out; 
}

.s-link:hover {
  transform: scale(1.1);
  color: #0084ffda;
}

.s-link span {
  margin: 10px;
}

.project-container {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: 100%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
  margin: 20px 20px;
  padding: 20px 15px;
}

.project:hover {
  transform: scale(1.08);
}

.project-head {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 56px;
}

.project-head a {
  text-decoration: none;
}

.project-description {
  font-size: 15px;
  line-height: 2;
  width: 100%;
  color: #a7a7a7;
}

.project-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#project-span {
  display: block;
  width: 100%;
  margin-top: 20px;
}

a {
  outline: none;
  cursor: pointer;
  color: inherit;
}

footer {
  display: block;
  border-top: 1px solid black;
  padding-top: 5px;
  width: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 10px;
}

@media (max-width:700px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    
    height: 80px;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  #header {
    width: 100%;
  }
  
  i {
    width: 10px;
  }

  .social {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s-link {
    margin-left: 20px;
  }

  .project {
    margin: 35px 0;
  }

  .nav-link {
    font-size: 14px;
  } 
}

@font-face {font-family: "Apercu"; src: url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.eot"); src: url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.svg#Apercu") format("svg"); }
