* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Apercu", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin-right: 100px;
}

.nav-link {
  margin: 0 20px;
  font-size: 18px;
}

.nav-link a {
  text-decoration: none;
}


.container {
  width: 90%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#header {
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 50px 0;
}

.headline {
  color: #a7a7a773;
  font-weight: 500;
  font-size: 14px;
  margin: 50px 0;
  letter-spacing: 2px;
}

.bio,
.blog {
  width: 70%;
  padding: 10px 0;
}

p {
  line-height: 50px;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 10px 0;
}

.social,
.projects,
.blog {
  margin: 50px 0;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.s-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.s-link span {
  margin: 10px;
}

.project-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  /* -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 1);
  border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
  margin: 20px 20px;
  padding: 20px 15px;
}

.project:hover {
  transform: scale(1.08);
}

.project-head {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 56px;
}

.project-head a {
  text-decoration: none;
}

.project-description {
  font-size: 15px;
  line-height: 2;
  width: 100%;
  color: #d6d6d6bd;
}

.project-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#project-span {
  display: block;
  width: 100%;
  margin-top: 20px;
}

a {
  outline: none;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 0.5em;
  text-underline-offset: 1.5px;
  cursor: pointer;
  color: inherit;
}

footer {
  display: block;
  border-top: 1px solid white;
  padding-top: 5px;
  width: 80%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 10px;
}

@media (max-width:700px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    
    height: 80px;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  #header {
    width: 100%;
  }

  .nav-link {
    font-size: 14px;
  } 
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro.eot');
    src: local('Apercu Pro'), local('ApercuPro'),
        url('ApercuPro.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro.woff2') format('woff2'),
        url('ApercuPro.woff') format('woff'),
        url('ApercuPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-MediumItalic.eot');
    src: local('Apercu Pro Medium Italic'), local('ApercuPro-MediumItalic'),
        url('ApercuPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-MediumItalic.woff2') format('woff2'),
        url('ApercuPro-MediumItalic.woff') format('woff'),
        url('ApercuPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Italic.eot');
    src: local('Apercu Pro Italic'), local('ApercuPro-Italic'),
        url('ApercuPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Italic.woff2') format('woff2'),
        url('ApercuPro-Italic.woff') format('woff'),
        url('ApercuPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-BoldItalic.eot');
    src: local('Apercu Pro Bold Italic'), local('ApercuPro-BoldItalic'),
        url('ApercuPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-BoldItalic.woff2') format('woff2'),
        url('ApercuPro-BoldItalic.woff') format('woff'),
        url('ApercuPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Mono.eot');
    src: local('Apercu Pro Mono'), local('ApercuPro-Mono'),
        url('ApercuPro-Mono.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Mono.woff2') format('woff2'),
        url('ApercuPro-Mono.woff') format('woff'),
        url('ApercuPro-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Bold.eot');
    src: local('Apercu Pro Bold'), local('ApercuPro-Bold'),
        url('ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Bold.woff2') format('woff2'),
        url('ApercuPro-Bold.woff') format('woff'),
        url('ApercuPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Medium.eot');
    src: local('Apercu Pro Medium'), local('ApercuPro-Medium'),
        url('ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('ApercuPro-Medium.woff2') format('woff2'),
        url('ApercuPro-Medium.woff') format('woff'),
        url('ApercuPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
